# Explore a baseball dataset using Pandas
This is the first day of class. This is also good, clean fun.

The dataset was obtained from [this site](http://www.seanlahman.com/baseball-archive/statistics).

This cell mounts your Google Drive so that you can load datasets from there.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Change directories to the directory that contains this notebook. Note that the directory is an absolute path. *Change the absolute path to where you saved your copy of this code.* You will most likely need to leave /content/drive/MyDrive and change everything after that.

In [2]:
% cd "/content/drive/MyDrive/Teaching/2022spring/CS5830 - Data Science Incubator/lecture/l01-pandas"
% ls .``

/content/drive/MyDrive/Teaching/2022spring/CS5830 - Data Science Incubator/lecture/l01-pandas
core/  l1-pandas.ipynb  README.txt

Your project partner may need to run a different cell...

In [3]:
# % cd "/content/drive/MyDrive/MyStuff/CS5830/l01-pandas"
# % ls .

## Now we get to start playing with the code

In [4]:
import pandas as pd

## df stands for Data Frame

In [5]:
df = pd.read_csv('core/People.csv')

In [6]:
df.head()

    playerID  birthYear  birthMonth  ...   finalGame   retroID    bbrefID
0  aardsda01     1981.0        12.0  ...  2015-08-23  aardd001  aardsda01
1  aaronha01     1934.0         2.0  ...  1976-10-03  aaroh101  aaronha01
2  aaronto01     1939.0         8.0  ...  1971-09-26  aarot101  aaronto01
3   aasedo01     1954.0         9.0  ...  1990-10-03  aased001   aasedo01
4   abadan01     1972.0         8.0  ...  2006-04-13  abada001   abadan01

[5 rows x 24 columns]

In [7]:
# display(df.columns)
# display(df.head(2))
columns = ['playerID', 'nameFirst', 'nameLast',
       'weight', 'height', 'birthYear', 'birthCountry', 'finalGame']
# Filter columns
players = df[columns]
players.head()

    playerID nameFirst nameLast  ...  birthYear  birthCountry   finalGame
0  aardsda01     David  Aardsma  ...     1981.0           USA  2015-08-23
1  aaronha01      Hank    Aaron  ...     1934.0           USA  1976-10-03
2  aaronto01    Tommie    Aaron  ...     1939.0           USA  1971-09-26
3   aasedo01       Don     Aase  ...     1954.0           USA  1990-10-03
4   abadan01      Andy     Abad  ...     1972.0           USA  2006-04-13

[5 rows x 8 columns]

In [8]:
players[players.nameFirst == 'John']
johns = players[(players.nameFirst == 'John') & (players.birthYear > 1931) & (players.birthCountry != 'USA')]
johns.sort_values('birthYear', ascending=False)

        playerID nameFirst  nameLast  ...  birthYear  birthCountry   finalGame
565    axforjo01      John    Axford  ...     1983.0           CAN  2017-07-24
7380   hattijo01      John    Hattig  ...     1980.0          Guam  2006-10-01
16746  stephjo03      John  Stephens  ...     1979.0     Australia  2002-09-29
679    balazjo01      John     Balaz  ...     1950.0           CAN  1975-09-28
7809   hillejo01      John    Hiller  ...     1943.0           CAN  1980-05-27
17801  uphamjo01      John     Upham  ...     1941.0           CAN  1968-09-25

[6 rows x 8 columns]

# Load batting data

In [9]:
batting = pd.read_csv('core/Batting.csv')
batting = batting[['playerID', 'H', 'yearID']]
batting.head()

    playerID   H  yearID
0  abercda01   0    1871
1   addybo01  32    1871
2  allisar01  40    1871
3  allisdo01  44    1871
4  ansonca01  39    1871

In [13]:
batting[batting.yearID == 2014].sort_values('H', ascending=False)

        playerID    H  yearID
98453  altuvjo01  225    2014
98561  brantmi02  200    2014
98604  cabremi01  191    2014
99231  martivi01  188    2014
99117  kinslia01  188    2014
...          ...  ...     ...
99121  kleinph01    0    2014
99123  knebeco01    0    2014
99124  koberje01    0    2014
99126   kohnmi01    0    2014
99143  lafrobo01    0    2014

[1435 rows x 3 columns]

In [15]:
batting[batting.playerID == 'altuvjo01'].sort_values('yearID', ascending=False)

         playerID    H  yearID
102863  altuvjo01  204    2017
101373  altuvjo01  216    2016
99887   altuvjo01  200    2015
98453   altuvjo01  225    2014
97035   altuvjo01  177    2013
95631   altuvjo01  167    2012
94239   altuvjo01   61    2011

## Merge (join) the players and batting tables (data frame)

In [19]:
playerHits = pd.merge(players, batting, on='playerID')
playerHits[playerHits.playerID == 'altuvjo01']

       playerID nameFirst nameLast  ...   finalGame    H  yearID
1560  altuvjo01      Jose   Altuve  ...  2017-10-01   61    2011
1561  altuvjo01      Jose   Altuve  ...  2017-10-01  167    2012
1562  altuvjo01      Jose   Altuve  ...  2017-10-01  177    2013
1563  altuvjo01      Jose   Altuve  ...  2017-10-01  225    2014
1564  altuvjo01      Jose   Altuve  ...  2017-10-01  200    2015
1565  altuvjo01      Jose   Altuve  ...  2017-10-01  216    2016
1566  altuvjo01      Jose   Altuve  ...  2017-10-01  204    2017

[7 rows x 10 columns]

## Find the best hitters

In [24]:
playerHits[playerHits.H > 250]
playerHits.sort_values(by='H', ascending=False).head(20)

        playerID nameFirst   nameLast  ...   finalGame    H  yearID
91726  suzukic01    Ichiro     Suzuki  ...  2017-10-01  262    2004
86902  sislege01    George     Sisler  ...  1930-09-22  257    1920
69576  odoulle01     Lefty     O'Doul  ...  1934-09-30  254    1929
93091  terrybi01      Bill      Terry  ...  1936-09-22  254    1930
86570  simmoal01        Al    Simmons  ...  1944-07-01  253    1925
50251  kleinch01     Chuck      Klein  ...  1944-06-11  250    1930
43351  hornsro01    Rogers    Hornsby  ...  1937-07-20  250    1922
17529   cobbty01        Ty       Cobb  ...  1928-09-11  248    1911
86904  sislege01    George     Sisler  ...  1930-09-22  246    1922
91723  suzukic01    Ichiro     Suzuki  ...  2017-10-01  242    2001
41044  hermaba01      Babe     Herman  ...  1945-09-16  241    1930
57929  manushe01    Heinie     Manush  ...  1939-05-22  241    1928
27193  erstada01     Darin     Erstad  ...  2009-10-04  240    2000
8318   boggswa01      Wade      Boggs  ...  1999-08-27  240    1985
12227  burkeje01     Jesse    Burkett  ...  1905-10-07  240    1896
48639  keelewi01    Willie     Keeler  ...  1910-09-05  239    1897
14211  carewro01       Rod      Carew  ...  1985-10-05  239    1977
22657  delahed01        Ed  Delahanty  ...  1903-06-25  238    1899
59420  mattido01       Don  Mattingly  ...  1995-10-01  238    1986
91729  suzukic01    Ichiro     Suzuki  ...  2017-10-01  238    2007

[20 rows x 10 columns]